# development-tutorial

In [1]:
library(ChainLadder)

Welcome to ChainLadder version 0.2.12

To cite package ‘ChainLadder’ in publications use:

  Markus Gesmann, Daniel Murphy, Yanwei (Wayne) Zhang, Alessandro
  Carrato, Mario Wuthrich, Fabio Concina and Eric Dal Moro (2021).
  ChainLadder: Statistical Methods and Models for Claims Reserving in
  General Insurance. R package version 0.2.12.
  https://CRAN.R-project.org/package=ChainLadder

To suppress this message use:
suppressPackageStartupMessages(library(ChainLadder))

In [2]:
demo(package="ChainLadder")

In [3]:
??plot.triangle

In [4]:
raa.inc <- cum2incr(RAA)
## Show first origin period and its incremental development
raa.inc[1,]

   1    2    3    4    5    6    7    8    9   10
5012 3257 2638  898 1734 2642 1828  599   54  172

In [5]:
myData <- read.csv("../data/mack.csv")
head(myData)

  accident development paid
1 2011     2011        5946975
2 2012     2012        6346756
3 2013     2013        6269090
4 2014     2014        5863015
5 2015     2015        5778885
6 2016     2016        6184793

In [6]:
summary(myData)

    accident     development        paid
 Min.   :2011   Min.   :2011   Min.   :   8924
 1st Qu.:2012   1st Qu.:2015   1st Qu.:  78082
 Median :2014   Median :2017   Median : 273395
 Mean   :2014   Mean   :2017   Mean   :1686206
 3rd Qu.:2016   3rd Qu.:2019   3rd Qu.:2860772
 Max.   :2020   Max.   :2020   Max.   :6346756

In [12]:
myData$devyear = myData$development - myData$accident + 1
head(myData)

  accident development paid    devyear
1 2011     2011        5946975 1
2 2012     2012        6346756 1
3 2013     2013        6269090 1
4 2014     2014        5863015 1
5 2015     2015        5778885 1
6 2016     2016        6184793 1

In [13]:
mack.tri <- as.triangle(myData,
                       origin="accident",
                       dev="devyear",
                       value="paid")
mack.tri

        devyear
accident 1       2       3      4      5      6      7     8     9     10
    2011 5946975 3721237 895717 207760 206704  62124 65813 14850 11130 15813
    2012 6346756 3246406 723222 151797  67824  36603 52752 11186 11646    NA
    2013 6269090 2976223 847053 262768 152703  65444 53545  8924    NA    NA
    2014 5863015 2683224 722532 190653 132976  88340 43329    NA    NA    NA
    2015 5778885 2745229 653894 273395 230288 105224    NA    NA    NA    NA
    2016 6184793 2828338 572765 244899 104957     NA    NA    NA    NA    NA
    2017 5600184 2893207 563114 225517     NA     NA    NA    NA    NA    NA
    2018 5288066 2440103 528043     NA     NA     NA    NA    NA    NA    NA
    2019 5290793 2357936     NA     NA     NA     NA    NA    NA    NA    NA
    2020 5675568      NA     NA     NA     NA     NA    NA    NA    NA    NA