In [1]:
library(ChainLadder)

Welcome to ChainLadder version 0.2.12

To cite package ‘ChainLadder’ in publications use:

  Markus Gesmann, Daniel Murphy, Yanwei (Wayne) Zhang, Alessandro
  Carrato, Mario Wuthrich, Fabio Concina and Eric Dal Moro (2021).
  ChainLadder: Statistical Methods and Models for Claims Reserving in
  General Insurance. R package version 0.2.12.
  https://CRAN.R-project.org/package=ChainLadder

To suppress this message use:
suppressPackageStartupMessages(library(ChainLadder))

In [2]:
#data(package="ChainLadder")

In [3]:
RAA

      dev
origin 1    2     3     4     5     6     7     8     9     10
  1981 5012  8269 10907 11805 13539 16181 18009 18608 18662 18834
  1982  106  4285  5396 10666 13782 15599 15496 16169 16704    NA
  1983 3410  8992 13873 16141 18735 22214 22863 23466    NA    NA
  1984 5655 11555 15766 21266 23425 26083 27067    NA    NA    NA
  1985 1092  9565 15836 22169 25955 26180    NA    NA    NA    NA
  1986 1513  6445 11702 12935 15852    NA    NA    NA    NA    NA
  1987  557  4020 10946 12314    NA    NA    NA    NA    NA    NA
  1988 1351  6947 13112    NA    NA    NA    NA    NA    NA    NA
  1989 3133  5395    NA    NA    NA    NA    NA    NA    NA    NA
  1990 2063    NA    NA    NA    NA    NA    NA    NA    NA    NA